* {
    padding: 0;
    margin: 0;
}

body {
    background: #f5f5f5;
    font-family: "Source Sans Pro", Arial, sans-serif;
    letter-spacing: 5px;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

::-webkit-scrollbar {
    height: 3px;
    width: 3px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #4d90fe;
}
::-webkit-scrollbar-thumb:hover {
    background: #307cf9;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 16px;
}
.header img {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}

.calculadora,
.historico,
.botao {
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.display:hover,
.historico:hover {
    -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.calculadora {
    background: #ffffff;
    width: 100%;
    max-width: 454px;
    padding: 16px;
    margin: 30px 0;
    border-radius: 1px;
    overflow: hidden;
}

.display {
    border: 1px solid #ddd;
    border-radius: 1px;
    height: 60px;
    padding: 10px 15px 0 0;
    margin-bottom: 16px;
    text-align: right;
    font-size: 2.5rem;
    overflow-x: auto;
    transition: all 0.2s ease-in-out;
}
.display:hover {
    border: 1px solid #bbb;
}

.historico {
    height: 20px;
    font-size: 0.9rem;
    background-color: #fff;
    margin-bottom: 16px;
    border-color: #bbb;
    padding: 0.5rem;
    text-align: right;
    word-break: keep-all;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.botoes > div {
    display: flex;
    justify-content: space-between;
}
.botoes > div .botao:last-child {
    margin-right: 0;
}
.botoes > div:last-child .botao {
    margin-bottom: 0;
}

.botao {
    display: block;
    border: 1px solid transparent;
    border-radius: 1px;
    width: 80px;
    text-align: center;
    padding: 10px;
    margin-bottom: 16px;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: border-color 0.2s ease-in-out, background-color 0.2s,
        box-shadow 0.2s;
}
.botao:hover {
    background-color: #f1f1f1;
    border-color: #bbb;
}
.botao:active {
    font-weight: bold;
}

.botao.cinza {
    background-color: #ddd;
}
.botao.cinza:hover {
    background-color: #ccc;
    border-color: #aaa;
}

.botao.azul {
    border-radius: 1px;
    color: #fff;
    background-color: #4d90fe;
}
.botao.azul:hover {
    background-color: #307cf9;
    border-color: #1857bb;
}

@media (max-width: 500px) {
    .header {
        font-size: 14px;
        white-space: nowrap;
    }
    .calculadora {
        margin: 20px 10px;
    }
    .botao {
        width: 100%;
        margin: 0.5rem;
    }
    .botoes > div .botao:first-child {
        margin-left: 0;
    }
}

@media (max-width: 400px) {
    .botao {
        font-size: 1rem;
    }
    .display {
        height: 45px;
        padding: 5px 15px 0 0;
        margin-bottom: 0.5rem;
        font-size: 2rem;
    }
}
